@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

a {
  color: #bc5b6b;

  &:hover {
    color: #8a424e;
  }

  &:active {
    color: #f07388;
  }
}

html {
  height: 100%;
  width: 100%;
  background: url(/images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: transparent;
}

.footer {
  color: #fff;
  font-size: 11px;
  margin-top: 20px;
  text-align: center;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.getting-started {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, .6);
  margin-top: 40px;

  @include border-radius(2px);

  li {
    margin: 5px 0;
  }
}

.inner {
  padding: 10px 20px;
}

.hero-unit {
  background: transparent;
  color: #fff;
  margin: 15% auto 0 auto;
  padding: 0;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);

  h1 {
    font-weight: normal;
    font-size: 58px;
    letter-spacing: 0px;
  }

  .lead {
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 20px;
  }
}

.noun-project-attribution {
  color: rgba(30, 30, 30, .75);
  position: absolute;
  bottom: 0;
  font-size: 9px;
  right: 70px;
  margin: 0;
  padding: 4px;

  a {
    color: rgba(30, 30, 30, .75);
  }
}

.remote-icon {
  position: relative;
  top: -20px;
}

.center {
  text-align: center;
}


@media (max-width: 480px) {
  .remote-icon {
    display: block;
    margin: 0 auto;
  }

}

@media (max-width: 767px) {
  .noun-project-attribution {
    position: relative;
    bottom: auto;
    right: auto;
  }

  // Moving badge so it does not obscure content
  .typekit-badge {
    position: relative !important;
    bottom: auto !important;
    right: auto !important;
    border-radius: 2px;
    left: 50% !important;
    margin-left: -31px !important;
    margin-top: 12px !important;
  }
}

